<h1>Import entries</h1>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<%= form_tag({:action => :import}, :multipart => true) do %>
  <div class="field">
    <%= label_tag :account %><br />
    <%= select_tag :account_id, options_from_collection_for_select(Account.all, :id, :name) %>
  </div>
  <div class="field">
    <%= file_field_tag :attachment %>
    <%= submit_tag "Upload file" %>
  </div>
<% end %>
