<h1>Listing entries</h1>

<%= form_tag('/entries/search') do %>
  Show entries for:
  <%= select_month(@date) %>
  <%= select_year(@date) %>
  <%= submit_tag("Submit")%>
<% end %>

<%= render :partial => 'list' %>

<%= link_to 'New Entry', new_entry_path %>
<%= link_to 'Match', match_entries_path %>
