<h1>Listing matched_names</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Preferred name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matched_names.each do |matched_name| %>
  <tr>
    <td><%= matched_name.name %></td>
    <td><%= matched_name.preferred_name %></td>
    <td><%= link_to 'Show', matched_name %></td>
    <td><%= link_to 'Edit', edit_matched_name_path(matched_name) %></td>
    <td><%= link_to 'Destroy', matched_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Matched name', new_matched_name_path %>
