<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @matched_name.name %>
</p>

<p>
  <b>Preferred name:</b>
  <%= @matched_name.preferred_name %>
</p>


<%= link_to 'Edit', edit_matched_name_path(@matched_name) %> |
<%= link_to 'Back', matched_names_path %>
