<h1>Listing raw_names</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Match</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @raw_names.each do |raw_name| %>
  <tr>
    <td><%= raw_name.name %></td>
    <td><%= raw_name.match %></td>
    <td><%= link_to 'Show', raw_name %></td>
    <td><%= link_to 'Edit', edit_raw_name_path(raw_name) %></td>
    <td><%= link_to 'Destroy', raw_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Raw name', new_raw_name_path %>
