<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @raw_name.name %>
</p>

<p>
  <b>Match:</b>
  <%= @raw_name.match %>
</p>


<%= link_to 'Edit', edit_raw_name_path(@raw_name) %> |
<%= link_to 'Back', raw_names_path %>
