<h1>Listing final_names</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @final_names.each do |final_name| %>
  <tr>
    <td><%= final_name.name %></td>
    <td><%= final_name.category.try(:name) %></td>
    <td><%= link_to 'Show', final_name %></td>
    <td><%= link_to 'Edit', edit_final_name_path(final_name) %></td>
    <td><%= link_to 'Destroy', final_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Final name', new_final_name_path %>
