<%= form_for(@raw_to_final_name_mapping) do |f| %>
  <% if @raw_to_final_name_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raw_to_final_name_mapping.errors.count, "error") %> prohibited this raw_to_final_name_mapping from being saved:</h2>

      <ul>
      <% @raw_to_final_name_mapping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :account %><br />
    <%= f.text_field :account %>
  </div>
  <div class="field">
    <%= f.label :final_name %><br />
    <%= f.text_field :final_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
