<h1>Monthly totals by category</h1>

<%= form_tag('/categories/yearly') do %>
  Show totals for:
  <%= select_year(@date) %>
  <%= submit_tag("Submit")%>
<% end %>

<table>
  <tr>
    <th>Category</th>
    <th>Credits</th>
    <th>Debits</th>
  </tr>

<% credits = BigDecimal.new(0) %>
<% debits = BigDecimal.new(0) %>
<% @totals.each do |key, value| %>
  <% credits += value[:credits].round(2) %>
  <% debits += value[:debits] != 0 ? -value[:debits].round(2) : 0.0 %>
  <tr>
    <td><%= link_to key, value[:category] %></td>
    <td><%= value[:credits].round(2) %></td>
    <td><%= value[:debits] != 0 ? -value[:debits].round(2) : 0.0  %></td>
  </tr>
<% end %>
  <tr>
    <td><b>Totals</b></td>
    <td><%= credits.round(2) %></td>
    <td><%= debits.round(2)  %></td>
  </tr>
</table>

<br />
